<link href="/stylesheets/youtube.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<style type="text/css">
	
	/* base semi-transparente */
    .overlay{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index:1001;
		opacity:.75;
        -moz-opacity: 0.75;
        filter: alpha(opacity=75);
    }
	
    /* estilo para lo que este dentro de la ventana modal */
    .modal {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 60%;
        height: 75%;
        padding: 16px;
        background: #fff;
		color: #333;
        z-index:1002;
        overflow: auto;
    }

</style>

 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Vídeos de Youtube
      <small>Listado</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Mis vídeos de Youtube</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

  <div class="box">
  
    <div class="box-body">  
        
        <div id="results">
                                
              
            <!------ VIDEOS CON CATEGORIA ---------------->
              
            <% for(var i=0;categoriasConVideos!=undefined && i<categoriasConVideos.length;i++) { %>
                
                <%  // Sólo se muestran las categorías con vídeos
                    var videos = categoriasConVideos[i].videoYoutubes; 
                    if(videos!=undefined && videos.length>0) {
                %>        
                <div class="form-group">
                    <h3><%=categoriasConVideos[i].descripcion%></h3>
                </div>
                  
                <% 
                  for(var j=0;videos!=undefined && j<videos.length;j++) {
                %>                
                  <div style="margin-left:10px;width:30%;height:220px;float:left">
    
                      
                <div align="left">
                    <a href="#" onclick="javascript:mostrarVideo('<%=videos[j].idVideo %>');" border="0">
                        <img src="<%=videos[j].urlImagen%>" border="0" width="196" height="110"/>
                    </a>

                    <label class="tituloVideoYoutube"><%=videos[j].tituloVideo%></label>
                    <br> 
                    <label class="canalVideoYoutube">de <%=videos[j].descCanal%></label>
                    <br>
                        
                    <img src="/images/23_full_trash.png" height=15 width=15 name="btnEliminar" id="btnEliminar"  title="Eliminar vídeo" alt="Eliminar vídeo" onclick="confirmarEliminacion(<%=videos[j].id%>);"/>     
                        
                    
                    <img src="/images/house.png" height=15 width=15 name="btnAnular" id="btnAnular"  title="Anular categoría" alt="Anular categoría" onclick="confirmarAnulacionCategoria(<%=videos[j].id%>);"/> 
                    
                    
                </div>    
                </div>
            
                <% } %>    
                <div style="clear:both">
                    <!-- Separador  -->
                </div>      
                <% } %>
            
            <% }// for %>  
                
            
            <div style="clear:both">
                <!-- Separador entre los videos con categoría y sin categoría -->
            </div>
                      
              
            
            <!--------------------- VIDEOS SIN CATEGORIA ---------------------->

            <% if(videosSinCategoria!=undefined && videosSinCategoria.length>0) { %>
            <div class="form-group">
                <h3>Vídeos sin categoria</h3> 
                
                <% if(categorias!=undefined && categorias.length>0) { %>
                
                <div class="form-group"><a name="asignarCategorias" id="asignarCategorias">
                Asignar vídeos a categorías
                </a>
                    
                <div style="clear:both"></div>
                
                <div id="divCategoria" style="display:none;margin-top:5px;">
                    <select name="categoria" id="categoria">
                    <% for(var i=0;categorias!=undefined && i<categorias.length;i++) { %>
                        <option value="<%=categorias[i].id%>"><%=categorias[i].descripcion%></option>
                        
                    <% } %>
                    </select>&nbsp;&nbsp;
                    <button type="button" id="btnAsignarCategoria"  class="btn btn-success btn-xs">Asignar</button>
                    
                </div>    
                <br>
                <a href="javascript:marcarVideosSinCategoria();">Marcar/Desmarcar todos</a>
                    
                
                
                </div>
              <% } %>    
                
            </div>
                  
            <!--- BEGIN: LISTADO VIDEOS SIN CATEGORIA -->    
            <% for(var i=0;videosSinCategoria!=undefined && i<videosSinCategoria.length;i++) { %>
                <div style="margin-left:10px;width:30%;height:220px;float:left">
    
                <div align="left">
                    <a href="#" onclick="javascript:mostrarVideo('<%=videosSinCategoria[i].idVideo %>');" border="0">
                        <img src="<%=videosSinCategoria[i].urlImagen%>" border="0" width="196" height="110"/>
                    </a>

                    <label class="tituloVideoYoutube"><%=videosSinCategoria[i].tituloVideo%></label>
                    <br> 
                    <label class="canalVideoYoutube">de <%=videosSinCategoria[i].descCanal%></label>
                    <br> 
                    <form name="formDelete" action="/videos/<%=videosSinCategoria[i].id%>?_method=DELETE" method="POST" onsubmit="return confirmarEliminacion(<%=videosSinCategoria[i].id%>);">
                        
                     <input type="checkbox" name="videoSinCategoria[]" id="videoSinCategoria[]" value="<%=videosSinCategoria[i].id %>" style="display:none" class="ck">        
                    <input height=15 width=15 type="image" src="/images/23_full_trash.png" title="Eliminar" alt="Eliminar"/> 
                   
                    </form>      
                    
                     
                 
                </div>    
                </div>
            <% }// for 
            }// if %>  
              
            <!--- END: LISTADOVIDEOS SIN CATEGORIA --> 
            
            </div>
            
            <div style="clear:both">
                <!-- Separador -->
            </div>
            

            
          </div><!-- /.box-body -->
          </div> 
<!--      
</form>
-->
      
</div>       
      
      
  </section>
</div>

<!-- Div en el que se mostrará el vídeo de youtube -->
<div id="ytplayer" class="modal">
    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
    Cerrar</a>
</div>

<div id="fade" class="overlay" onclick="document.getElementById('ytplayer').style.display='none';document.getElementById('fade').style.display='none'">
</div>

   
<!-- Se incluye el API JS de youtube para mostrar vídeos -->
<script async type="text/javascript" src="https://www.youtube.com/player_api"></script>
<script type="text/javascript" src="/javascripts/youtubePlayer.js"></script>

<!-- Se incluye el API JS de youtube para poder buscar vídeos -->
<script src="https://apis.google.com/js/client.js?onload=init"></script>
<script type="text/javascript">
    
    

    function confirmarAnulacionCategoria(videoId) {
        var url = "/videos/categorias/anular/" + videoId;
    
        if(confirm('¿Desea que el vídeo quede sin categoría?')) {
            
            // Se envía la petición por post
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    if(data.status==0) {
                        // Se recarga la página
                        window.location.href="/videos/usuario";                        
                        
                    }
                }
            });
        }// if
    };
    
    
    function marcarVideosSinCategoria() {
        console.log("marcarVideos ===>");
        try{
            
            $(".ck:checkbox:not(:checked)").attr("checked", "checked");
           
            /*
            //$("input[name=checktodos]:checked")
            $("input[name=videoSinCategoria]:checked").prop('checked', true); 
            console.log("prueba: " + $("input[name=checktodos]:checked"));
            
            var datos = $("input[name=checktodos]:checked");
            console.log("length: " + datos.length);
            for(p in datos) {
                console.log("p: " + p);
                
            }
            
            
            $("#videoSinCategoria:checkbox").prop('checked', true); 
            */
        }catch(Err) {
            console.log("Error: " + Err.message);
        }
    }
    
    function confirmarEliminacion(videoId) { 
        var url = "/videos/" + videoId + "?_method=delete";
        console.log("confirmaEliminacion videoId: " + videoId + ", url: " + url)
        
        if(confirm('¿Desea eliminar el vídeo?')) {
             // Se envía la petición por post
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    if(data.status==0) {
                        // Se recarga la página
                        window.location.href="/videos/usuario";                        
                    }
                }
            });
        }// if
    }

        
    // Manejador evento click sobre el elemento 'asignarCategorias'
    $("#asignarCategorias").on('click',function() {
        if(!$('#divCategoria').is(":visible")) {    
            $("#divCategoria").show();
            showCheckbox(true);
        } else {
            $("#divCategoria").hide();
            showCheckbox(false);
        }
    });
    
    
    // Muestra y oculta los checkblx 'videosSinCategoria'
    function showCheckbox(flag) {
    
        $('input[name="videoSinCategoria[]"]').each(function() {
            
            if(flag){
                $(this).show();
            }else{
                // La propiedad checked del checkbox se pone a vacío para que no aparezca seleccionado,
                // la próxima vez que se intente mostrar
                $(this).prop("checked","");
                $(this).hide();
            } 
        });
    }
    
    
    // Manejador evento click sobre el elemento 'btnAsignarCategoria'
    $("#btnAsignarCategoria").on('click',function() {
        
        var checkboxValues = new Array();
        //recorremos todos los checkbox seleccionados con .each
        $('input[name="videoSinCategoria[]"]:checked').each(function() {

            checkboxValues.push($(this).val());
        });
        
        if(checkboxValues.length==0) {
            alert("Es necesario seleccionar algún vídeo para poder asignarle la categoría");
        } else {
              
           
              $.ajax({
                url: '/videos/categorias/asignacionesVideos',
                data: "&videos=" + JSON.stringify(checkboxValues) + "&categoria=" + $('#categoria').val(),
                type: "POST",
                success: respuestaAsignacionVideosCategorias,
                error:errorAsignacionVideosCategorias,
            });
           
        }
    });
    
    
    function respuestaAsignacionVideosCategorias(data) {
        console.log("respuesta: " + data);
        
        var respuesta = JSON.parse(data);
        if(respuesta!=null && respuesta.status==0) {
            
            window.location.href="/videos/usuario";
        } else console.log("Error al tratar la respuesta del servidor")
    }
    
    function errorAsignacionVideosCategorias(data) {
        console.log("error: " + data);
        
    }
    
    
</script>